/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: radial-gradient(circle at top, #2a0a4a, #0b0218);
    color: #fff;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* NAVBAR */
.navbar {
    padding: 20px 0;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.logo span {
    color: #ff3cac;
}

.nav-menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    width: 30px;
    display: none;
}

/* BUTTONS */
.btn-primary {
    padding: 10px 22px;
    border-radius: 25px;
    background: linear-gradient(135deg,#ff3cac,#784ba0,#2b86c5);
    color: #fff;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
     transform:scale(1.1) translateY(-1px);
}

.btn-secondary {
    max-width: 201px;
    padding: 12px 20px;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 18px;
    background: linear-gradient(135deg,#f5f82f,#f353f8,rgb(75, 6, 82));
    border:none;
    cursor: pointer
}
.btn-secondary:hover{
    transform:scale(1.1) translateY(-1px);
}

.btn-outline {
    padding: 12px 26px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #00FF88;
    color:#00FF88;
    cursor: pointer;
}
.btn-outline:hover{
     transform:scale(1.1) translateY(-1px);
  
}

/* HERO */
.hero {
    background: url("../assets/hero-bg.png") center/cover no-repeat;
    padding: 120px 20px;
    text-align: center;
}

.hero-content h1{
    font-size: 60px;
    color: #FFFFFF;
    margin-bottom:8px ;
}

.hero-content p{
    font-size: 16px;
    color: #ffffffa1;
    margin-bottom: 24px;
}

.hero-circle {
  position: relative;
  width: 320px;          
  height: 320px;
  margin: 0 auto 40px;
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.mic-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;        
  transform: translate(-50%, -50%);
}

  .badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #1aff7c;
  color: #000;
  padding: 6px 14px;
  font-size: 18px;
  border-radius: 20px;
  font-weight: 600;
  z-index: 5;
  box-shadow: 0 6px 18px rgba(46, 253, 46, 0.842);
  }
  

/* ABOUT SECTION */
.about {
  padding: 80px 20px;
  background-color: #0f0f0f;
  color: #ffffff;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.about-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text {
  max-width: 650px;
  margin: 0 auto 24px;
  font-size: 16px;
  line-height: 1.7;
  color: #cccccc;
}

/* STATS GRID */
 .about{
    background-color: #1A0B2E;
 }
.stats {

  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.stat-box {
 
  padding: 30px 20px;
  border-radius: 12px;
}

.stat-box h3 {
  font-size: 32px;
  color: #1aff7c;
  margin-bottom: 8px;
}

.stat-box p {
  font-size: 16px;
  color: #dddddd;
}


/* FEATURES */
.features {
  padding: 80px 20px;
  text-align: center;
}

.features h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

/* GRID */
.feature-grid {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

/* CARD */
.feature-card {
  background: rgba(255, 255, 255, 0.06);
  padding: 30px 20px;
  border-radius: 18px;
  transition: 0.3s ease;
}

.feature-card img {
  width: 50px;
  margin-bottom: 18px;
}

.feature-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.feature-card p {
  font-size: 14px;
  color: #cccccc;
}


/* EPISODES */

.episodes{
    max-width: 1200px;
    margin: 0 auto;
}
.episode-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.episode-card img {
    width: 100%;
    border-radius: 10px;
}

/* HOST */
.host-box {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    margin: auto;
}

/* FOOTER */
.footer {
  background: #07020d;
  padding: 60px 20px;
  text-align: center;
  background-image:url(../assets/footer-bg.png);
}

.footer-container {
  max-width: 1000px;
  margin: auto;
}

.footer-logo {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.footer-logo span {
  color: #ff3cac;
}

.footer-text {
  font-size: 15px;
  color: #cccccc;
  max-width: 500px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.social-icons img {
  width: 36px;
  transition: 0.3s ease;
}

.social-icons img:hover {
  transform: translateY(-5px) scale(1.1);
}

/* COPYRIGHT */
.copyright {
  font-size: 14px;
  color: #888;
}


/* RESPONSIVE */
@media (max-width: 576px) {
    .nav-menu,
    .btn-primary {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .stats,
    .feature-grid,
    .episode-grid {
        grid-template-columns: 1fr;
    }

    .host-box {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 576px) {
  .hero-circle {
    width: 220px;
    height: 220px;
  }

  .mic-img {
    width: 90px;
  }
}

