/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: radial-gradient(circle at top, #2a0a4a, #0b0218);
    color: #fff;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 0;
    border: 1px solid rgb(145, 2, 180);
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo span {
    color: #ff3cac;
}

.nav-menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    width: 30px;
    display: none;
}

/* BUTTONS */
.btn-primary {
   font-size: 16px;
    padding: 12px 22px;
    border-radius: 25px;
    background: linear-gradient(135deg,#ff3cac,#784ba0,#2b86c5);
    color: #fff;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
     transform:scale(1.1) translateY(-1px);
}

.btn-secondary {
    max-width: 201px;
    padding: 12px 22px;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    background: linear-gradient(135deg,#f5f82f,#f353f8,rgb(75, 6, 82));
    border:none;
    cursor: pointer;
    box-shadow: 0 2px 20px rgba(141, 2, 168, 0.842);
    margin-right: 12px;

}
.btn-secondary:hover{
    transform:scale(1.1) translateY(-1px);
}

.btn-outline {
  font-size: 16px;
    padding: 12px 26px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #00FF88;
    color:#00FF88;
    cursor: pointer;
    box-shadow: 0 2px 20px rgba(2, 129, 2, 0.842);
}
.btn-outline:hover{
     transform:scale(1.1) translateY(-1px);
  
}
.hero-buttons img{
  max-width: 17px;

}

/* HERO */
.hero {
    width: 100%;
    background: url("../assets/hero-bg.png") center/cover no-repeat;
    padding: 120px 20px;
    text-align: center;
    border: 1px dotted rgb(170, 16, 241);
}

.hero-content h1{
    font-size: 60px;
    color: #FFFFFF;
    margin-bottom:8px ;
}

.hero-content p{
    font-size: 16px;
    color: #ffffffa1;
    margin-bottom: 24px;
}

.hero-circle {
  position: relative;
  width: 320px;          
  height: 320px;
  margin: 0 auto 40px;
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block;
}

.mic-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;        
  transform: translate(-50%, -50%);
}

  .badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #1aff7c;
  color: #000;
  padding: 6px 14px;
  font-size: 18px;
  border-radius: 20px;
  font-weight: 600;
  z-index: 5;
  box-shadow: 0 6px 18px rgba(46, 253, 46, 0.842);
  }
  

/* ABOUT SECTION */
.about {
  width: 100%;
  padding: 80px 20px;
  background-color: #0f0f0f;
  color: #ffffff;
  border: 1px dotted rgb(146, 9, 146);
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.about-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text {
  max-width: 650px;
  margin: 0 auto 24px;
  font-size: 16px;
  line-height: 1.7;
  color: #cccccc;
}

/* STATS GRID */
 .about{
    background-color: #1A0B2E;
 }
.stats {

  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.stat-box {
 
  padding: 30px 20px;
  border-radius: 12px;
}

.stat-box h3 {
  font-size: 32px;
  color: #1aff7c;
  margin-bottom: 8px;
}

.stat-box p {
  font-size: 16px;
  color: #dddddd;
}

/* Features */
.features {
  padding: 80px 20px;
  text-align: center;
  width: 100%;
}

.features h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

/* GRID */
.feature-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a b"
    "a c"
    "d e";
  gap: 24px;
}

/* Card position */
.feature-card:nth-child(1) { grid-area: a; min-height: 260px; }
.feature-card:nth-child(2) { grid-area: b; min-height: 120px; }
.feature-card:nth-child(3) { grid-area: c; min-height: 120px; }
.feature-card:nth-child(4) { grid-area: d; min-height: 150px; }
.feature-card:nth-child(5) { grid-area: e; min-height: 100px; }

/* CARD */
.feature-card {
  background: rgba(255, 255, 255, 0.06);
  padding: 28px 26px;
  border-radius: 18px;
  transition: 0.3s ease;
}

.feature-card img {
  width: 50px;
  margin-bottom: 18px;
}

.feature-card h3 {
  font-size: 20px;
  margin-bottom: 16px;
}

.feature-card p {
  font-size: 16px;
  line-height: 24px;
  color: #cccccc;
}



/* -------Episodes------- */
.episodes {
  padding: 80px 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  
}

.episodes h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.episode-card {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 18px;
  padding: 16px;
  text-align: left;
  box-shadow: 0 6px 18px rgba(120, 7, 134, 0.842);
}
.episode-card :hover{
    transform: translateY(-5px);
    

}

/* Responsive video wrapper */
.episode-card iframe {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.episode-card h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.episode-card p{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.episode-card span {
  font-size: 14px;
  color: #00ff88;
}

/* HOST */
.host h2{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    padding: 120px 200px 40px;

}
.host-box {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    border-radius:15px ;
    background-color: rgb(31, 13, 54);;
    padding: 48px 40px;
    box-shadow: 0 6px 18px rgba(134, 48, 233, 0.842);
    transition: 0.3s ease;
}
.host-box img:hover{
     transform: translateY(-5px) scale(1.1);
}

.host-text h3{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 16px;
}
.host-text p{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff86;
    margin-bottom: 20px;
}

.host-link a{
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid rgba(184, 15, 184, 0.308);
    padding :10px;
    box-shadow: 0 1px 5px rgba(191, 54, 255, 0.842);
    
}




/* FOOTER */
.footer {
  width: 100%;
  margin-top:120px ;
  background: #07020d;
  padding: 120px;
  justify-items: center;
  text-align: center;
  border: 1px dotted rgb(160, 18, 153);
  background-image:url(../assets/footer-bg.png);
}

.footer-container {
  max-width: 1350px;
  margin:0 auto;

}

.footer-logo {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-logo span {
  color: #f72ea0;
}


/* SOCIAL ICONS */
.social-icons {
  
  display: flex;
  justify-content: center;
  max-width: 544px;
  gap: 20px;
  margin-bottom: 32px;
  
}
.social-icons a{
    margin-right: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff8a;
    margin-bottom: 32px;
}

.social-icons img {
    margin-right: 10px;
  width: 16px;
  transition: 0.3s ease;
}

.social-icons img:hover {
  transform: translateY(-5px) scale(1.1);
}

/* COPYRIGHT */
.copyright {
  font-size: 14px;
  color: #888;
  margin-top: 32px;
}



/*MOBILE RESPONSIVE (up to 576px)  */
@media (max-width: 576px) {

  /* NAVBAR */
  .nav-menu {
    display: none;
  }

  .btn-primary {
    display: none !important;  
  }

  .menu-icon {
    display: block;
  }

  .nav-content {
    justify-content: space-between;
  }

  /* HERO BUTTONS*/
  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%;
  }

  .hero-buttons button {
    width: 100%;
    max-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .btn-secondary,
  .btn-outline {
    padding: 14px 20px;
    font-size: 15px;
  }
  /* HERO */
  .hero {
    padding: 80px 16px;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-circle {
    width: 220px;
    height: 220px;
  }

  .mic-img {
    width: 90px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .btn-secondary,
  .btn-outline {
    width: 100%;
  }

  /* ABOUT */
  .about-title {
    font-size: 28px;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  /* FEATURES */
  .feature-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  
  .feature-card {
    all: unset;
    display: block;
    background: rgba(255,255,255,0.06);
    padding: 20px;
    border-radius: 16px;
  }

  .feature-card img {
    width: 40px;
    margin-bottom: 12px;
  }

  .feature-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .feature-card p {
    font-size: 14px;
    line-height: 22px;
    color: #ccc;
  }

  /* EPISODES */
  .episodes h2 {
    font-size: 28px;
  }

  .episode-grid {
    grid-template-columns: 1fr;
  }

  .episode-card iframe {
    height: 180px;
  }

  /* HOST */
  .host h2 {
    padding: 60px 20px 30px;
    font-size: 32px;
  }

  .host-box {
    flex-direction: column;
    text-align: center;
  }

  .host-box img {
    max-width: 200px;
    margin: 0 auto;
  }

  /* FOOTER */
 .footer {
    padding: 80px 20px;
  }

  .footer-logo {
    font-size: 36px;
    margin-bottom: 24px;
  }

  
  .social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px 24px;
    justify-items: start;
    max-width: 260px;
    margin: 0 auto 32px;
  }

  .social-icons a {
    margin: 0;
    font-size: 14px;
  }

  
  .copyright {
    position: relative;
    padding-top: 24px;
    margin-top: 24px;
    text-align: center;
  }

  .copyright::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 1px;
    background: rgba(255,255,255,0.2);
  }
}



